{% extends "client/../base.html" %}
{% block body %}
    <div class="container">
        <div class="my-3 py-3">
            <h4>
                Danh sách sinh viên nộp giải thưởng
            </h4>

        </div>
        <table class="table table-hover table-striped table-bordered">
            <thead>
            <th>STT</th>
            <th>Tên giải thưởng</th>
            <th>File điểm</th>
            <th>Tên Sinh Viên</th>
            <th>Mã Sinh Viên</th>
            <th>Điểm</th>
            <th>Email</th>
            <th>Action</th>
            </thead>
            <tbody id="list">

            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

            var status = 0;
            alo()
            user =
            {{ user.id }}
            if (user != null) {
                $.ajax({
                    type: "GET",
                    url: `http://127.0.0.1:8000/api/studentTranscript/?p=${user}`,
                    success: function (data) {
                        console.info(data)
                        localStorage.setItem("userPoint", data[0].poin)
                    },
                    err: function (data) {

                    }
                })
            }



            function alo() {
                $.ajax({
                    type: "GET",
                    url: `http://127.0.0.1:8000/api/formApply/?s=${status}`,
                    success: function (data) {

                        var html = ""
                        var i = 1;
                        $.each(data, function (i, index) {
                                i++;

                                console.info(index)
                                html += "<tr>"
                                html += "<td>" + i + "</td>"
                                html += "<td>" + index.award_id.name + "</td>"
                                html += "<td> <img style='object-fit: cover' width='160px' src='" + index.context + "'></td>"
                                html += "<td>" + index.student_id.name + "</td>"
                                html += "<td>" + index.student_id.masv + "</td>"
                                html += "<td>" + index.point + "</td>"
                                html += "<td>" + index.student_id.email + "</td>"
                                html += "<td><a data-id_xoa='" + index.id + "'  class='btn btn-warning del-data'  href='/deleteForm/"+index.id+"/"+index.email+"' > Xóa</a>  <a class='btn btn-danger update' href='/testSendMail/"+index.id+"/"+index.email+"' >Phê Duyệt</a></td>"
                                html += "<tr>"

                            }
                        )
                        $('#list').html(html)
                    },
                    error: function () {

                    }
                })


            }
        })
    </script>
{% endblock %}